/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */

// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #191919;

$mainColor: #fff;
$headingColor: #fff;

$mainFontSize: 42px;
$mainFont: "Lato", Helvetica, sans-serif;
$headingFont: "Lato Black", Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #42affa;
$linkColorHover: lighten($linkColor, 15%);
$selectionBackgroundColor: lighten($linkColor, 25%);

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1em;

section.has-light-background {
    &,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #222;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: left;
}

.reveal {
    .intro {
        h1 {
            padding-top: 250px;
            font-style: italic;
            letter-spacing: 0.06em;
            margin-bottom: 5px;
            text-align: center;
        }
    }
    .self-into {
        h2 {
            text-align: center;
        }
    }
    .desc {
        h1,
        h2 {
            text-align: center;
        }
    }
    .ending {
        h2 {
            padding-top: 220px;
        }
        small {
            display: block;
        }
    }

    &.slide {
        background: url("/img/rectangles.svg") center center no-repeat;
    }
    .slide-background {
        &.intro,
        &.ending {
            background: url("/img/shape.svg") center center no-repeat;
            background-size: 70%;
        }
        &.question-anwser {
            &::after,
            &::before {
                content: "?";
                font-size: 800px;
                position: absolute;
                width: 80%;
                height: 100%;
                top: 50%;
                transform: translateY(-50%);
                text-align: right;
                color: $color-eunry-pink;
                opacity: 0.1;
                padding: 0 10%;
            }
            &::after {
                content: "?";
                text-align: right;
                transform: scaleX(-1) translateY(-50%);
            }
            &::before {
                content: "?";
            }
        }
    }
    .flex {
        display: flex;
        &.center {
            justify-content: center;
            .self-center {
                align-self: center;
            }
        }
    }
    .italic {
        font-style: italic;
    }
    .biography {
        display: flex;
        justify-content: center;
        background: rgba(255, 255, 255, 0.05);
        .item {
            align-self: center;
            min-width: 30%;
            &_img {
                width: 70%;
            }
            &_text {
                text-align: left;
                font-size: 30px;
            }
        }
    }
    .light-pink-text {
        color: $color-light-pink;
    }
    .dark-pink-text {
        color: $color-geraldine-pink;
    }
    .upper {
        text-transform: uppercase;
    }
    .center {
        text-align: center;
    }
    .btn {
        color: white;
        font-weight: 800;
        padding: 10px;
        margin: 30px auto 0;
        display: block;
        width: 140px;
        border: 2px solid $color-geraldine-pink;
        border-radius: 5px;
        transition: background-color 0.5s ease;
        &:hover {
            border: 2px solid $color-geraldine-pink;
            background-color: $color-eunry-pink;
            color: white;
        }
    }
    ul {
        li {
            list-style-type: none;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                background: url("/img/circle.png");
                top: 50%;
                left: -50px;
                transform: translateY(-50%) scale(0.5);
                width: 28px;
                height: 28px;
            }
        }
    }
    ol {
        counter-reset: num;
        li {
            list-style-type: none;
            counter-increment: num;
            &::before {
                content: counter(num) ".";
                margin-right: 20px;
                color: $color-light-pink;
            }
        }
    }
    .slides {
        a {
            color: $color-geraldine-pink;
            text-decoration: underline;
            &:hover {
                color: $color-eunry-pink;
            }
        }
    }
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
